{% extends "../layout/master-main.twig" %}
{% block main %}
        <!-- end of header -->
        <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h1>About Us</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>About</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->


        <!-- start of wpo-about-section -->
        <section class="wpo-about-section wpo-about-section-s2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="wpo-about-wrap">
                            <div class="wpo-about-img">
                                <img src="assets/images/about_1.jpg" alt="">
                                <div class="wpo-ab-shape-1"><img src="assets/images/ab-shape-1.png" alt=""></div>
                                <div class="wpo-ab-shape-2"><img src="assets/images/ab-shape-2.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="wpo-about-text">
                            <div class="wpo-about-icon-content">
                                <h2>Professional And Dedicated <span>Consulting</span> Solutions</h2>
                                <p>Management consulting includes a broad range of activities, and the many firms and
                                    their members often define these practices quite differently. One way to categorize
                                    the activities is in terms of the professional’s area of expertise (such as
                                    competitive analysis, corporate strategy, operations management, or human
                                    resources). But in practice, as many differences exist within these categories as
                                    between them.</p>
                                <a class="theme-btn" href="about.html">More About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of wpo-about-section -->

        <!-- start of wpo-service-section -->
        <section class="wpo-service-section wpo-service-section-s3 section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>Why us</span>
                            <h2>Our benefits</h2>
                        </div>
                    </div>
                </div>
                <div class="wpo-service-items wpo-service-slider owl-carousel">
                    <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                            <i class="fi flaticon-lamp"></i>
                        </div>
                        <div class="wpo-service-text">
                            <h3><a href="service-single.html">Strategy and Planning</a></h3>
                            <p>One way to categorize the activities is in terms ...</p>
                        </div>
                    </div>
                    <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                            <i class="fi flaticon-edit"></i>
                        </div>
                        <div class="wpo-service-text">
                            <h3><a href="service-single.html">Corporate Finance</a></h3>
                            <p>One way to categorize the activities is in terms ...</p>
                        </div>
                    </div>
                    <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                            <i class="fi flaticon-startup"></i>
                        </div>
                        <div class="wpo-service-text">
                            <h3><a href="service-single.html">Market Research</a></h3>
                            <p>One way to categorize the activities is in terms ...</p>
                        </div>
                    </div>
                    <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                            <i class="fi flaticon-business"></i>
                        </div>
                        <div class="wpo-service-text">
                            <h3><a href="service-single.html">Business Analysis</a></h3>
                            <p>One way to categorize the activities is in terms ...</p>
                        </div>
                    </div>
                    <div class="wpo-service-item">
                        <div class="wpo-service-icon">
                            <i class="fi flaticon-lamp"></i>
                        </div>
                        <div class="wpo-service-text">
                            <h3><a href="service-single.html">Strategy and Planning</a></h3>
                            <p>One way to categorize the activities is in terms ...</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of wpo-service-section -->
        {% endblock %}

      