{% extends "../layout/master-main.twig" %}
{% block main %}
        <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h1>About Us</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>About</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->

        <!-- start of wpo-service-section -->
        <section class="wpo-service-section  section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-section-title">
                            <span>Our Services</span>
                            <h2>Explore Our Services</h2>
                        </div>
                    </div>
                    <div class="pb-5">
                        <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                        <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                    </div>
                </div>
                <div class="row areas_list">
                    <ul class="col col-lg-3 col-md-6 col-12">
                        <li><a href="#">Strategy and Planning</a></li>
                        <li><a href="#">Corporate Finance</a></li>
                    </ul>
                    <ul class="col col-lg-3 col-md-6 col-12">
                        <li><a href="#">Strategy and Planning</a></li>
                        <li><a href="#">Corporate Finance</a></li>
                    </ul>
                    <ul class="col col-lg-3 col-md-6 col-12">
                        <li><a href="#">Strategy and Planning</a></li>
                        <li><a href="#">Corporate Finance</a></li>
                    </ul>
                    <ul class="col col-lg-3 col-md-6 col-12">
                        <li><a href="#">Strategy and Planning</a></li>
                        <li><a href="#">Corporate Finance</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- end of wpo-service-section -->
         {% endblock %}
