
       {% extends "../layout/master-main.twig" %}
{% block main %}
 <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h1>About Us</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>About</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->

 <!-- start of wpo-project-single-section -->
        <section class="wpo-project-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="wpo-project-single-wrap">
                            <div class="wpo-project-single-content">
                                <div class="wpo-project-single-content-des">
                                    <div class="row">
                                       
                                        <div class="col-lg-6 col-md-12 col-12 d-flex  flex-column justify-content-center">
                                               <div >
                                                   <h2>Professional And Dedicated <span>Consulting</span> Solutions</h2>
                                                   <p>Management consulting includes a broad range of activities, and the many firms and their members often define these practices quite differently. One way to categorize the activities is in terms of the professional’s area of expertise (such as competitive analysis, corporate strategy, operations management, or human resources). But in practice, as many differences exist within these categories as between them.</p>
                                                   <a class="theme-btn" href="about.html">More About</a>
                                                </div>
                                        </div> 
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="wpo-about-img">
                                               <img src="/assets/images/custom-home-build.webp" alt="">
                                            </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpo-solutions-section">
                                
                            </div>
                            

                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of wpo-project-single-section -->
         <!-- start of wpo-service-section -->
         <section class="wpo-service-section  section-padding custom-home-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pt-5 pb-5">
                        <div class="wpo-section-title">
                            <span>Our interior services</span>
                            <h3 class="h2">Interior</h2>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <p class="w-75 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe, ducimus laborum quos est deleniti cumque voluptatibus nisi.</p>
                            <span class="marker"></span>
                            <ul class="list d-flex flex-column align-items-center mt-5">
                                <li>24/7 Support available</li>
                                <li>Home Consulting System</li>
                                <li>30-Day analytics &amp; insights</li>
                                <li>Ultimate Features</li>
                            </ul>
                        </div>
                       
                    </div>

                    <div class="col-md-6 exterior-col  pt-5 pb-5">
                        <div class="wpo-section-title ">
                            <span>Our exterior services</span>
                            <h3 class="h2">Exterior</h2>
                           
                           
                        </div>
                        <div class="d-flex flex-column align-items-center">
                      
                            <p class="w-75 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur saepe, ducimus laborum quos est deleniti cumque voluptatibus nisi. </p>

                            <span class="marker"></span>
                            <ul class="list d-flex flex-column align-items-center mt-5">
                                <li>24/7 Support available</li>
                                <li>Home Consulting System</li>
                                <li>30-Day analytics &amp; insights</li>
                                <li>Ultimate Features</li>
                            </ul>
                            
                        </div>


                        
                    </div>
                </div>
              
            </div>
        </section>
        <!-- end of wpo-service-section -->
  <!--Start wpo-gallery-section-->
  <section class="wpo-gallery-section workflow-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-8">
                <div class="wpo-section-title">
                    <span>Projects</span>
                    <h2>Our Workflow</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow1.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>1.</span> 1 on 1 Meeting</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow2.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>2.</span> Contract meeting</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow3.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>3.</span> Lot Inspection"</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow4.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>4.</span> Permitting</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow5.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>5.</span> Color Selection</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow6.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>6.</span> Pre Construction Meeting</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow7.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>7.</span> Post Construction Meeting</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="item">
                    <div class="top">
                        <img src="/assets/images/workflow8.webp" alt="">
                    </div>
                    <div class="down">

                        <h3><span>8.</span> CHome Orientation</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum ex tenetur saepe deserunt debitis quam nesciunt dolorum ratione voluptatem quas illum, laboriosam doloribus. Asperiores, minima! Blanditiis perspiciatis fuga hic voluptates!</p>
                    </div>

                </div>
            </div>
        </div> <!-- end row -->
    </div>
</section>
<!--End wpo-gallery-section-->
            



             <!-- start of wpo-about-section -->
  <section class="wpo-project-single-section ">
    <div class="container">
        
        <div class="row">

            <div class="col-md-3">
                
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>

        
        </div>
    </div>
</section>
<!-- end of wpo-about-section -->

  <!--Start wpo-gallery-section-->
  <section class="wpo-gallery-section section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-8">
                <div class="wpo-section-title">
                    <span>Projects</span>
                    <h2>Our Project Gallery</h2>
                </div>
            </div>
            <div class="col-lg-6 col-sm-4">
                <div class="wpo-section-title-button">
                    <a href="project.html">More Projects</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12 sortable-gallery">
                <div class="wpo-gallery-container">
                    <div class="grid">
                        <div class="wpo-gallery-item">
                            <a href="project-single.html">
                                <img src="assets/images/gallery/img-6.jpg" alt class="img img-responsive">
                                <div class="wpo-gallery-text">
                                    <h3>Digital Analysis</h3>
                                    <i class="ti-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="wpo-gallery-item">
                            <a href="project-single.html">
                                <img src="assets/images/gallery/img-7.jpg" alt class="img img-responsive">
                                <div class="wpo-gallery-text">
                                    <h3>Corporate Finance</h3>
                                    <i class="ti-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="wpo-gallery-item">
                            <a href="project-single.html">
                                <img src="assets/images/gallery/img-8.jpg" alt class="img img-responsive">
                                <div class="wpo-gallery-text">
                                    <h3>Market Research</h3>
                                    <i class="ti-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="wpo-gallery-item">
                            <a href="project-single.html">
                                <img src="assets/images/gallery/img-9.jpg" alt class="img img-responsive">
                                <div class="wpo-gallery-text">
                                    <h3>Business Analysis</h3>
                                    <i class="ti-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->
    </div>
</section>
<!--End wpo-gallery-section-->

  <!-- start of wpo-about-section -->
  <section class="wpo-project-single-section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="wpo-project-single-wrap">
                    <div class="wpo-project-single-content">
                        <div class="wpo-project-single-content-des">
                            <div class="wpo-project-single-content-des-wrap">
                                <div class="wpo-project-single-content-des-left">
                                    <h2>Digital Analysis</h2>
                                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of wpo-about-section -->

<!--Start wpo-support-section-->
<section class="wpo-support-section">
    <div class="container">
        <div class="wpo-support-wrapper">
            <div class="wpo-support-text">
                <h2>In home employees in all services!</h2>
                <p>Please create a ticket to our support forum,a great place to learn, share, and troubleshoot.
                    Get started.</p>
            </div>
            <div class="wpo-support-btn">
                <a href="contact.html">Ask Support Ticket</a>
            </div>
        </div>
    </div>
</section>
<!--End wpo-support-section-->
 {% endblock %}
      