{% extends "../layout/master-main.twig" %}
{% block main %}
	<!-- start of wpo-hero-section-1 -->
	<section class="wpo-hero-section-1 wpo-hero-section-2">
		<div class="container">
			<div class="row">
				<div class="col col-xs-6 col-lg-6">
					<div class="wpo-hero-section-text">
						<div class="wpo-hero-title">
							<h1 class="like_h2">General contractor in Southwest Florida</p>
						</div>
						<div class="wpo-hero-subtitle">
							<p>Facilitating client learning—that is, teaching clients how to resolve similar
																																																																																                                    problems in the future.</p>
						</div>
						<div class="btns ">
							<a href="about.html" class="btn theme-btn me-3">About Us</a>
							<a href="about.html" class="btn theme-btn " style="background: #079885;
																																																																																                            ">Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="right-vec">
			<div class="right-img">
				<div class="r-img">
					<img src="assets/images/index_1.jpg" alt="">

				</div>
			</div>

		</div>

	</section>
	<!-- end of wpo-hero-section-1 slider -->

	<!-- start of wpo-about-section -->
	<section class="wpo-about-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-12">
					<div class="wpo-about-wrap">
						<div class="wpo-about-img">
							<img src="assets/images/custom-home-build2.webp" alt="">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-12">
					<div class="wpo-about-text">
						<div class="wpo-about-icon-content">
							<h2 class="h1">Custom Homes of
								<span>any</span>
								complexity</h2>
							<p>Management consulting includes a broad range of activities, and the many firms and
																																																																																                                    their members often define these practices quite differently. One way to categorize
																																																																																                                    the activities is in terms of the professional’s area of expertise (such as
																																																																																                                    competitive analysis, corporate strategy, operations management, or human
																																																																																                                    resources). But in practice, as many differences exist within these categories as
																																																																																                                    between them.</p>
							<a class="theme-btn" href="about.html">More About</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of wpo-about-section -->

	<!-- start of wpo-about-section -->
	<section class="wpo-about-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-12">
					<div class="wpo-about-text">
						<div class="wpo-about-icon-content">
							<h2 class="h1">Project creation and
								<span>estimates</span>
							</h2>
							<p>Management consulting includes a broad range of activities, and the many firms and
																																																																																                                    their members often define these practices quite differently. One way to categorize
																																																																																                                    the activities is in terms of the professional’s area of expertise (such as
																																																																																                                    competitive analysis, corporate strategy, operations management, or human
																																																																																                                    resources). But in practice, as many differences exist within these categories as
																																																																																                                    between them.</p>
							<a class="theme-btn" href="about.html">More About</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-12">
					<div class="wpo-about-wrap">
						<div class="wpo-about-img">
							<img src="assets/images/custom-home-build3.webp" alt="">
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- end of wpo-about-section -->


	<!-- start of wpo-blog-section -->
	<section class="mmb-microservice-section section-padding">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="wpo-section-title">
						<span>Remodeling</span>
						<h2>Our Other Services</h2>
					</div>
				</div>
			</div>
			<div class="mmb-microservice-item row">

				<div class="col-md-4 col-12">
					<h3>Exterior</h3>
					<div class="row g-4">
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Real Estate</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Architecture</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Engineer</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Cement work</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Roofing</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-6 col-6 item">
							<a href="#">
								<h4>Masonry</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>

					</div>
				</div>
				<div class="col-md-8 col-12 ">
					<h3>Interior</h3>
					<div class="row  g-4 interior">

						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Painting</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Isolation</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>HVAC</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Carpentry</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Cabinets</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Floring</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Drywall</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Windows</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Doors</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Plumbers</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Stucco</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
						<div class="col-md-3 col-6 item">
							<a href="#">
								<h4>Electrician</h4>
								<img src="assets/images/index_6.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end of wpo-blog-section -->


	<!-- start of wpo-blog-section -->
	<section class="wpo-blog-section section-padding">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="wpo-section-title">
						<span>Services</span>
						<h2>Our Services</h2>
					</div>
				</div>
			</div>
			<div class="wpo-blog-items">
				<div class="row">
					<div class="col col-lg-4 col-md-6 col-12">
						<div class="wpo-blog-item">
							<div class="wpo-blog-img">
								<img src="assets/images/index_6.jpg" alt="">
							</div>
							<div class="wpo-blog-content">
								<div class="wpo-blog-content-top">

									<h3>
										<a href="blog.html">Custom Home Build</a>
									</h3>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-lg-4 col-md-6 col-12">
						<div class="wpo-blog-item">
							<div class="wpo-blog-img">
								<img src="assets/images/index_6.jpg" alt="">
							</div>
							<div class="wpo-blog-content">
								<div class="wpo-blog-content-top">

									<h3>
										<a href="blog.html">Home Remodeling</a>
									</h3>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-lg-4 col-md-6 col-12">
						<div class="wpo-blog-item">
							<div class="wpo-blog-img">
								<img src="assets/images/index_6.jpg" alt="">
							</div>
							<div class="wpo-blog-content">
								<div class="wpo-blog-content-top">

									<h3>
										<a href="blog.html">Roofing</a>
									</h3>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- end of wpo-blog-section -->

	<!--Start wpo-support-section-->
	<section class="wpo-support-section section-padding">
		<div class="container">
			<div class="wpo-support-wrapper">
				<div class="wpo-support-text">
					<h2>In home employees in all services!</h2>
					<p>Please create a ticket to our support forum,a great place to learn, share, and troubleshoot.
																																																												                            Get started.</p>
				</div>
				<div class="wpo-support-btn">
					<a href="contact.html">Get a free quote</a>
				</div>
			</div>
		</div>
	</section>
	<!--End wpo-support-section-->


	<section class="wpo-service-section section-padding">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="wpo-section-title">
						<span>Why us</span>
						<h2>Our benefits</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/clipboard.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Strategy and Planning</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/briefcase.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Corporate Finance</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/chart.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Market Research</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/badge.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Business Analysis</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/goal.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Consumer Markets</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="wpo-service-item">
						<div class="wpo-service-icon">
							<div class="icon">
								<img src="assets/images/icon/handshake.svg" alt="">
							</div>
						</div>
						<div class="wpo-service-text">
							<h2>
								<a href="service-single.html">Insurance</a>
							</h2>
							<p>One way to categorize the activities is in terms of the professional’s area of
																																																																																                                    expertise such as competitive analysis, corporate strategy the activities.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Start wpo-support-section-->
	<section class="wpo-support-section  section-padding">
		<div class="container">
			<div class="wpo-support-wrapper">
				<div class="wpo-support-text">
					<h2>Have You a Different Question?</h2>
					<p>Please create a ticket to our support forum,a great place to learn, share, and troubleshoot.
																																																												                            Get started.</p>
				</div>
				<div class="wpo-support-btn">
					<a href="contact.html">Free consultation</a>
				</div>
			</div>
		</div>
	</section>
	<!--End wpo-support-section-->


	<!-- start wpo-fun-fact-section -->
	<section class="wpo-fun-fact-section wpo-fun-fact-section-s2">
		<div class="container">
			<div class="row">
				<div class="col col-xs-12">
					<div class="wpo-fun-fact-grids clearfix">
						<div class="grid">
							<div class="info">
								<p class="number_h3">
									<span class="odometer" data-count="500">00</span>+</p>
								<p>Completed Cases</p>
							</div>
						</div>
						<div class="grid">
							<div class="info">
								<p class="number_h3">
									<span class="odometer" data-count="25">00</span>+</p>
								<p>Expert Consultants</p>
							</div>
						</div>
						<div class="grid">
							<div class="info">
								<p class="number_h3">
									<span class="odometer" data-count="95">00</span>%</p>
								<p>Client Satisfaction</p>
							</div>
						</div>
						<div class="grid">
							<div class="info">
								<p class="number_h3">
									<span class="odometer" data-count="25">00</span>+</p>
								<p>Award Winning</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end container -->
	</section>
	<!-- end wpo-fun-fact-section -->


	<!--Start wpo-gallery-section-->
	<section class="wpo-gallery-section section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-sm-8">
					<div class="wpo-section-title">
						<span>Projects</span>
						<h2>Our Project Gallery</h2>
					</div>
				</div>
				<div class="col-lg-6 col-sm-4">
					<div class="wpo-section-title-button">
						<a href="project.html">More Projects</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col col-xs-12 sortable-gallery">
					<div class="wpo-gallery-container">
						<div class="grid">
							<div class="wpo-gallery-item">
								<a href="project-single.html">
									<img src="assets/images/gallery/img-6.jpg" alt class="img img-responsive">
									<div class="wpo-gallery-text">
										<h3>Digital Analysis</h3>
										<i class="ti-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="grid">
							<div class="wpo-gallery-item">
								<a href="project-single.html">
									<img src="assets/images/gallery/img-7.jpg" alt class="img img-responsive">
									<div class="wpo-gallery-text">
										<h3>Corporate Finance</h3>
										<i class="ti-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="grid">
							<div class="wpo-gallery-item">
								<a href="project-single.html">
									<img src="assets/images/gallery/img-8.jpg" alt class="img img-responsive">
									<div class="wpo-gallery-text">
										<h3>Market Research</h3>
										<i class="ti-plus"></i>
									</div>
								</a>
							</div>
						</div>
						<div class="grid">
							<div class="wpo-gallery-item">
								<a href="project-single.html">
									<img src="assets/images/gallery/img-9.jpg" alt class="img img-responsive">
									<div class="wpo-gallery-text">
										<h3>Business Analysis</h3>
										<i class="ti-plus"></i>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
	</section>
	<!--End wpo-gallery-section-->

	<!--Start wpo-testimonial-section-->
	<section class="wpo-testimonial-section section-padding">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="wpo-testimonial-title">
						<h2>
							<i class="fi flaticon-left-quote"></i>
							What
							<span>Our Clients</span>
							are Saying</h2>
					</div>
				</div>
			</div>
			<div class="wpo-testimonial-items wpo-testimonial-slider owl-carousel">
				<div class="wpo-testimonial-item">
					<div class="wpo-testimonial-avatar">
						<img src="assets/images/testimonial/img-1.jpg" alt="">
					</div>
					<div class="wpo-testimonial-text">
						<p>I just wanted to share a quick note and let you know that you guys do a really good job.
																																																																						                                I’m glad I decided to work with you. It’s really great how easy.</p>
						<div class="wpo-testimonial-text-btm">
							<p>Ron Di-soza</p>

						</div>
					</div>
				</div>
				<div class="wpo-testimonial-item">
					<div class="wpo-testimonial-avatar">
						<img src="assets/images/testimonial/img-2.jpg" alt="">
					</div>
					<div class="wpo-testimonial-text">
						<p>I just wanted to share a quick note and let you know that you guys do a really good job.
																																																																						                                I’m glad I decided to work with you. It’s really great how easy.</p>
						<div class="wpo-testimonial-text-btm">
							<p>Ron Di-soza</p>

						</div>
					</div>
				</div>
				<div class="wpo-testimonial-item">
					<div class="wpo-testimonial-avatar">
						<img src="assets/images/testimonial/img-3.jpg" alt="">
					</div>
					<div class="wpo-testimonial-text">
						<p>I just wanted to share a quick note and let you know that you guys do a really good job.
																																																																						                                I’m glad I decided to work with you. It’s really great how easy.</p>
						<div class="wpo-testimonial-text-btm">
							<p>Ron Di-soza</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End wpo-testimonial-section-->
{% endblock %}
