           {% extends "../layout/master-main.twig" %}
{% block main %}
 <!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h1>Digital Analysis</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>Projects </span></li>
                                <li><span>Digital Analysis</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->
        <!-- start of wpo-project-single-section -->
        <section class="wpo-project-single-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="wpo-project-single-wrap">
                            <div class="wpo-project-single-content">
                                <img src="assets/images/project-single/1.jpg" alt="">
                                <div class="wpo-project-single-content-des">
                                    <div class="wpo-project-single-content-des-wrap">
                                        <div class="wpo-project-single-content-des-left">
                                            <h2>Digital Analysis</h2>
                                            <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. </p>
                                            <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise.</p>
                                        </div>
                                        <div class="wpo-project-single-content-des-right">
                                            <ul>
                                                <li>Client :<span>Robert William</span></li>
                                                <li>Location :<span>7 Lake Street,London</span></li>
                                                <li>Date :<span>20 Apr 2021</span></li>
                                                <li>Duration : <span>3 Month</span></li>
                                                <li>Tag :<span>Consulting, Business</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="wpo-project-single-sub-img">
                                        <ul>
                                            <li><img src="assets/images/project-single/2.jpg" alt=""></li>
                                            <li><img src="assets/images/project-single/3.jpg" alt=""></li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of wpo-project-single-section -->

             {% endblock %}