
          {% extends "../layout/master-main.twig" %}
{% block main %}

<!-- start of breadcumb-section -->
        <div class="wpo-breadcumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="wpo-breadcumb-wrap">
                            <h1>Everlast siding</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><span>Everlast siding</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of wpo-breadcumb-section-->


<style>
.button-group 
{
width: 100%;
display: flex;
justify-content: center;
gap:15px;
padding: 30px 0;


}

.button-group>.button 
{
        background: none;
    border-radius: 20px;
    border: #3757f7 solid 1px;
    padding: 0 15px;
    font-size: 16px;
    color: #4f555a;
    line-height: 1.8em;
}

.button-group > .is-checked 
{
background: #3757f7 ;
color:white;
}




</style>
        <!--Start wpo-project-section-->  
        <section class="wpo-gallery-section wpo-gallery-section-s2 section-padding">

        <div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".x">x</button>
   <button class="button" data-filter=".y">y</button>

</div>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12 ">
                        <div class="wpo-gallery-container project-grid">
                            <div class="grid project-item x">
                                <div class="wpo-gallery-item">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-6.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Digital Analysis</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="grid project-item x">
                                <div class="wpo-gallery-item">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-7.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Corporate Finance</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="grid project-item y">
                                <div class="wpo-gallery-item ">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-8.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Market Research</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="grid project-item y">
                                <div class="wpo-gallery-item">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-9.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Business Analysis</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div>                         
                            </div>
                            <div class="grid project-item x">
                                <div class="wpo-gallery-item">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-10.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Investment Strategy</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div> 
                            </div>
                            <div class="grid project-item y">
                                <div class="wpo-gallery-item">
                                    <a href="project-single.html">
                                        <img src="assets/images/gallery/img-11.jpg" alt class="img img-responsive">
                                        <div class="wpo-gallery-text">
                                            <h3>Consumer Markets</h3>
                                            <i class="ti-plus"></i>
                                        </div>
                                    </a>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </section>
        <!--End wpo-project-section-->

         
         {% endblock %}

        

 
       