  <!-- Start header -->
        <header id="header">
            <div class="topbar">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-md-7 col-sm-12 col-12">
                            <div class="contact-intro">
                                <ul>
                                    <li><i class="fi ti-location-pin"></i>7 Green Lake Street Crawfordsville</li>
                                    <li><i class="fi flaticon-email"></i> consultar@gmail.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-md-5 col-sm-12 col-12">
                            <div class="contact-info">
                                <ul>
                                    <li>Visit our social pages</li>
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="#"><i class="ti-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end topbar -->
            <div class="wpo-site-header">
                <nav class="navigation navbar navbar-expand-lg navbar-light original">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-2 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="close-navbar"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a class="active" href="service-category.html">Service</a>
                                            <ul class="sub-menu">
                                                <li><a class="active" href="service-single.html">Service single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="project.html">Project</a></li>
                                       <li><a href="microservice.html">Microservice</a></li>
                                       
                                         <li><a href="areas.html">Areas</a>
                                            <ul class="sub-menu">
                                                <li><a href="area-single.html">Areas single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div id="dl-menu" class="dl-menuwrapper">
                                        <button class="dl-trigger">Open Menu</button>
                                        <ul class="dl-menu">

                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li>
                                            <a href="#">Service</a>
                                            <ul class="dl-submenu">
                                             <li><a href="service-category.html">Service</a></li>
                                                <li><a href="service-single.html">Service single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="project.html">Project</a></li>
                                       <li><a href="microservice.html">Microservice</a></li>
                                       
                                    
                                          <li>
                                            <a href="#">Areas</a>
                                            <ul class="dl-submenu">
                                             <li><a href="areas.html">Areas</a></li>
                                                <li><a href="area-single.html">Areas single</a></li>
                                            </ul>
                                        </li>
                                          
                                        </ul>
                                    </div><!-- /dl-menuwrapper -->
                                </div><!-- end of nav-collapse -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <div class="header-right">
                                    <div class="close-form">
                                        <a class="theme-btn" href="contact.html">Free Consulting</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav><nav class="navigation navbar navbar-expand-lg navbar-light sticky-header">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-6">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
                                </div>
                            </div> 
                            <div class="col-lg-6 col-md-2 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="close-navbar"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li><a class="active" href="service-category.html">Service</a>
                                            <ul class="sub-menu">
                                                <li><a class="active" href="service-single.html">Service single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="project.html">Project</a></li>
                                       <li><a href="microservice.html">Microservice</a></li>
                                       
                                         <li><a href="areas.html">Areas</a>
                                            <ul class="sub-menu">
                                                <li><a href="area-single.html">Areas single</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div id="dl-menu" class="dl-menuwrapper">
                                        <button class="dl-trigger">Open Menu</button>
                                        <ul class="dl-menu">
                                            
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About</a></li>
                                        <li>
                                            <a href="#">Service</a>
                                            <ul class="dl-submenu">
                                             <li><a href="service-category.html">Service</a></li>
                                                <li><a href="service-single.html">Service single</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="project.html">Project</a></li>
                                       <li><a href="microservice.html">Microservice</a></li>
                                       
                                    
                                          <li>
                                            <a href="#">Areas</a>
                                            <ul class="dl-submenu">
                                             <li><a href="areas.html">Areas</a></li>
                                                <li><a href="area-single.html">Areas single</a></li>
                                            </ul>
                                        </li>
                                        </ul>
                                    </div><!-- /dl-menuwrapper -->
                                </div><!-- end of nav-collapse -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <div class="header-right">
                                    <div class="close-form">
                                        <a class="theme-btn" href="contact.html">Free Consulting</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!-- end of header -->