<div class="component__megamodal">
	<div class="top">
		<div class="container">
			<button class="cross-btn js_closemodal">CLOSE&ensp;&#10006;</button>
		</div>

	</div>
	<div class="q1 container down">
		<div class="item-area">
			<h2 class="question">Choose your service</h2>
			<div class="row g-5">
				<div data-choose="Custom home build" class="item col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q1_2.webp" alt="">
						<h3 class="title">Custom home build</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Remodeling" class="item col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q1.webp" alt="">
						<h3 class="title">Remodeling</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Roofing" class="item col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q1_3.webp" alt="">
						<h3 class="title">Roofing</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
	<div class="q2 container down">
		<div class="item-area">
			<h2 class="question">What type of home you prefer?</h2>
			<div class="row">
				<div data-choose="Classic house" class="item active g-5 offset-lg-2 col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q2.webp" alt="">
						<h3 class="title">Clasic</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Modern" class="item col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q2_2.webp" alt="">
						<h3 class="title">Modern</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>

	<div class="q3 container down ">
		<div class="item-area">
			<h2 class="question">What type of roof needs to be replaced?</h2>
			<div class="row g-5 new">
				<div data-choose="Shingle" class="item active  col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_5.webp" alt="">
						<h3 class="title">Shingle</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Tile" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_6.webp" alt="">
						<h3 class="title">Tile</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Metal" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_7.webp" alt="">
						<h3 class="title">Metal</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Flat" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_8.webp" alt="">
						<h3 class="title">Flat</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
			</div>
			<h2 class="question">What type of roof do you have now?</h2>
			<div class="row g-5 old">
				<div data-choose="Shingle" class="item active  col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3.webp" alt="">
						<h3 class="title">Shingle</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Tile" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_2.webp" alt="">
						<h3 class="title">Tile</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Metal" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_3.webp" alt="">
						<h3 class="title">Metal</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Flat" class="item col-12 col-lg-3">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q3_4.webp" alt="">
						<h3 class="title">Flat</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>

	<div class="q4 container down">
		<div class="item-area">
			<h2 class="question">
				What type of work you prefer?
			</h2>
			<div class="row">
				<div data-choose="Full house" class="item active g-5 offset-lg-2 col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q7.webp" alt="">
						<h3 class="title">Full house</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
				<div data-choose="Partial" class="item col-12 col-lg-4">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q7_2.webp" alt="">
						<h3 class="title">Partial</h3>
						<p class="text">One way to categorize the activities is in terms ...</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>


	<div class="q5 container down ">
		<div class="item-area">
			<h2 class="question">Your Contacts Info</h2>
			<div class="row">
				<div class="offset-lg-2 col-lg-8 col-12">
					<input type="text" class="form-control name" name="name" placeholder="Your Name*">
					<input type="tel" class="form-control phone" name="phone" placeholder="Your Phone*">
					<input type="text" class="form-control email" name="email" placeholder="Your Email">
				</div>

			</div>


		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Send</button>
		</div>
	</div>
	<div class="q6 container down">
		<div class="item-area">
			<h2 class="question">What's your location?</h2>
			<div class="row">
				<div class="offset-lg-2 col-lg-8 col-12">
					<select name="subject" class="form-control select_location">
						<option disabled="disabled" selected hidden>Location in south west Florida</option>
						<option value="Naples">Naples</option>
						<option value="Bonita Springs">Bonita Springs</option>
						<option value="Estero">Estero</option>
						<option value="Sanibel">Sanibel</option>
						<option value="Lehigh Acres">Lehigh Acres</option>
						<option value="Fort Myers">Fort Myers</option>
						<option value="Punta Gorda">Punta Gorda</option>
						<option value="Port Charlotte">Port Charlotte</option>
					</select>
					<input type="text" class="form-control address" name="address" placeholder="Your Address*">
				</div>

			</div>


		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
	<div class="q7 container down">
		<div class="item-area">
			<h2 class="question">What is the prefered square ft?</h2>
			<div class="row">
				<div class="offset-lg-3 col-lg-6 col-12">
					<div data-choose="1500 - 2500" class="option">
						<span></span>
						1500 - 2500</div>
					<div data-choose="2500 - 3500" class="option">
						<span></span>
						2500 - 3500</div>
					<div data-choose="3500+" class="option">
						<span></span>
						3500+</div>
				</div>

			</div>
			<div class="button-area">
				<button disabled class="theme-btn">Next&ensp;游목</button>
			</div>
		</div>


	</div>

	<div class="q8 container down">
		<div class="item-area">
			<h2 class="question">Thank you!</h2>
			<div class="row g-5">
				<div  class="thank_you offset-lg-4 col-12 col-lg-4 ">
					<div class="wrap">
						<img loading="lazy" src="assets/images/question/q8.webp" alt="">
						<p class="text">your message send.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button class="theme-btn js_closemodal">Close</button>
		</div>
	</div>

