<div class="component__megamodal">
	<div class="top">
    <div class="container">
    <button class="cross-btn">CLOSE&ensp;&#10006;</button>
    </div>
		
	</div>
	<div class="s1 container down ">
		<div class="item-area">
			<h2 class="question">Have You a Different Question?</h2>
			<div class="row">
				<div class="item active g-5 offset-lg-2 col-12 col-lg-4">
                   <div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                <div class="item col-12 col-lg-4">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
    <div class="s2 container down">
		<div class="item-area">
			<h2 class="question">Have You a Different Question?</h2>
			<div class="row g-5">
				<div class="item active  col-12 col-lg-4">
                   <div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                <div class="item col-12 col-lg-4">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                 <div class="item col-12 col-lg-4">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
    <div class="s3 container down">
		<div class="item-area">
			<h2 class="question">Have You a Different Question?</h2>
			<div class="row g-5">
				<div class="item active  col-12 col-lg-3">
                   <div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                 <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                 <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
			</div>
            	<h2 class="question">Have You a Different Question?</h2>
			<div class="row g-5">
				<div class="item active  col-12 col-lg-3">
                   <div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                 <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
                 <div class="item col-12 col-lg-3">
					<div class="wrap">
                   <img src="assets/images/custom-home-build.webp" alt="">
					<h3 class="title">Contract meeting</h3>
                    <p class="text">One way to categorize the activities is in terms ...</p>
                   </div>
				</div>
			</div>
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
    <div class="s1 container down active">
		<div class="item-area">
			<h2 class="question">Have You a Different Question?</h2>
			
		</div>
		<div class="button-area">
			<button disabled class="theme-btn">Next&ensp;游목</button>
		</div>
	</div>
</div>

